* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%; 
    margin: 0; 
    overflow-inline: hidden;
   
   
  }

  h1{
    text-align: center;
    color: #9b7e53;
    border-bottom: 8px solid #a2742eba;
  
  }

  .map-data{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .selection-data{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding: 10px;
    direction: rtl;
  }

  .selection-input{
    display: flex;
    gap: 10px;
  }

  .submit-button {
    align-self: flex-start; 
  }

  
  .graph-types {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 100vw;
    padding: 15px;
    gap: 10px;
  }

  .leaflet-popup-content{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    background-color: rgba(165, 233, 233, 0.681);
    justify-content: center;
    border-radius: 8px;  
  }

  .popup-map{
    padding: 2px;
    border-radius: 8px;
  }

 

  .graph-events-years{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    width: 100vw;
    padding-right: 20px;
    padding-top: 10px;
    gap: 10px;
  }




 .input-years, .input-city{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #bd9f52e3;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: #fffefe 0px 1px 1px 1px, #bd9f52e3 0px 0px 0px 3px;
    
  
   
 }

 .closeWindow{
  position: absolute;
  top: 2px;
  right: 2px;
 }

 .closeWindow:hover{
  background-color: rgb(228, 222, 210);
  padding: 2px;
  border-radius: 8px;
 }

 .the-graph-events-years{
  background-color: rgba(203, 203, 195, 0.293);
  padding: 40px;
  
 }

.listItem:hover {
  background-color: #7f6d41; 
  color: white;  
}
.listItem:active {
  transform: scale(0.98); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: scale(1.2)
}

.graph-five-top-organization{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 100vw;
  padding-right: 20px;
  padding-top: 10px;
  gap: 10px;

}

.top-organization{
  background-color: rgba(232, 232, 223, 0.785);
  padding: 50px;
  border-radius: 10px;
}

.graph-OrgainzationByYears{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.input-cityOrOrganization{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-OrgainzationByYears{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 100vw;
  gap: 10px;
  padding-top: 10px;
}

.input-graph-years{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button{
  color: #AC814B;
}





