* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%; 
    margin: 0; 
    overflow-inline: hidden;
    direction: rtl;
    
  }

  .selection-data{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding: 15px;
  }

  .selection-input{
    display: flex;
    gap: 10px;
  }

  .submit-button {
    align-self: flex-start; 
  }

  
  .graph-types{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100vw;
    padding-right: 15px;
    gap: 10px;

  }

 

